@{
    ViewData["Title"] = "SanPhamTheoLoai";
    Layout = "_Layout";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<TDanhMucSp>

@foreach (var item in Model)
{
   @await Html.PartialAsync("_PatialSanPham", item)
}
<div class="product-pagination">
    @Html.PagedListPager(Model, page=>Url.Action("SanPhamTheoLoai", new{page=page, maloai = ViewBag.maloai}))
</div>
